.color1{
    color: #39359e;
}
.color2{
    color:#a3a3a3;
}
.wrap{
    width: 100vw;
    /* width: 900px; */
    /* height: 100vh; */
    /* background-color: pink; */
    padding: 1rem 2rem;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.oneSection{
    margin-top: 3rem;
}
.section{
    margin-top: 3rem;
    display: block;
}
.mainTitle{
    height:10rem;
}
.bottomArea{
    width: 100%;
}
.leftArea{
    width: 40%;
    display: inline-block;
    float: left;
}
.rightArea{
    width: 60%;
    display: inline-block;
    /* float: right; */
}

.topLine{
    border-top: 2px solid #898989;
    display: inline-block;
    float: left;
    padding-top: 2rem;
    margin: 0 1rem;
    /* position: absolute; */

}
.smallTitle{
    display: block;
}

/* test */
.imgArea{
    height: 20rem;
    background: #333;
}

.sectionLine{
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    display: block;
    width: 100%;
    float: left;
    margin: 3rem 0;
}
.sectionLine::after{
    position: absolute;
    width: 350px;
    height: 2px;
    background-color: #333;
    right: 3rem;
    top: 1.5rem;
    content: '';
}

.row{
    width: 100%;
}
.row > div{
    width: 28.3%;
}
.skillWrap{
    margin-bottom: 2rem;
}
.skillWrap img{
    width: 200px;
    height: 200px;
}
.skillTitle{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}
.workWrap{
    width: 100%;

}
.workWrap .leftArea{
    background-color: #404040;
    color: #efefef;
    height: 500px;
    padding: 2rem 1rem;
}
.workWrap .workTitle{
    font-weight: bold;
    margin-bottom: 2rem;
}
.workWrap .rightArea{
    height: 500px;
}
.footer{
    width: 100%;
    border-top: 2px solid #333;
    margin-top: 2rem;
    padding: 1rem;
}

/* modal */
#addModalWrap{
    position: relative;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}
.addModal{
    height: 400px;
    width: 600px;
    background-color: #fff;
    border: 2px solid #333;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modalTitle{
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
    padding: 8px;
}
.modalBody{
    padding: 1rem;
    position: relative;
}
.modalBody .leftArea{
    width: 50%;
}
.modalBody .rightArea{
    width: 50%;
}
#upload{
    margin-top: 2rem;
}
.modalBottom{
    position: absolute;
    bottom: 0;
    padding: 0.7rem;
    border-top: 1px solid black;
    width: 100%;
}
.modalBottom button{
    border: 1px solid #16105e;
    background: #16105e;
    border-radius: 5px;
    color: #efefef;
    padding: 3px 15px;
    font-size: 1rem;
    float: right;
}
#uploadImage{
    width: 200px;
    height: auto;
}

/* loginModal - 나중에 없애거나 해아함  */
